@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 50px 0 44px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    &__title{
        @extend %Rubik-500;
        font-size: 36px;
        line-height: 58px;
        margin-left: 8px;
        color: #436372
    }
}
.menu{
    &__list{
        display: flex;
    }
    
    &__list-item + .menu__list-item{
        padding-left: 30px;
        
    }
    &__list-link {
        @extend %Rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
    }
}

.user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link-search{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #edf1f4;
        margin-right: 22px;
    }
    &__link-heart{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 89px;
        height: 46px;
        background-color: $accent;
        border-radius: 25% 0% 0% 25% / 50% 0% 0% 50% ; 
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
            transform: translate(44px, 0px);
        }
    }
    &__link-cart{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 89px;
        height: 46px;
        background-color: $accent;
        border-radius: 0% 25% 25% 0% / 0% 50% 50% 0% ;
        margin-right: 20px;
    }
    &__link-num{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 10px;
        @extend %DMSans-400;
        top: 8px;
        left: 47px;
        
    }
    &__link-burger{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a3bbc8;
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
    
}

@import 'media';
